src/test/resources/interop/microsoft/security/sep06/wsse10/WEB-INF/wsdl/WsSecurity10Sign.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PingService10Sign" targetNamespace="http://InteropBaseAddress/interop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://InteropBaseAddress/interop" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsdl:import namespace="http://tempuri.org/" location="wsdl0.wsdl"/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://InteropBaseAddress/interop/Imports">
      <xsd:import schemaLocation="xsd0.xsd" namespace="http://InteropBaseAddress/interop"/>
      <xsd:import schemaLocation="xsd1.xsd" namespace="http://xmlsoap.org/Ping"/>
      <xsd:import schemaLocation="xsd2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="xsd3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PingRequest">
    <wsdl:part name="parameters" element="tns:PingRequest"/>
  </wsdl:message>
  <wsdl:message name="PingResponse">
    <wsdl:part name="parameters" element="tns:PingResponse"/>
  </wsdl:message>
  <wsdl:message name="IPingServiceSign_echo_InputMessage">
    <wsdl:part name="parameters" element="tns:echo"/>
  </wsdl:message>
  <wsdl:message name="IPingServiceSign_echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:echoResponse"/>
  </wsdl:message>
  <wsdl:message name="IPingServiceSign_echoXml_InputMessage">
    <wsdl:part name="parameters" element="tns:echoXml"/>
  </wsdl:message>
  <wsdl:message name="IPingServiceSign_echoXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:echoXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="IPingServiceSign_echoDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:echoDataSet"/>
  </wsdl:message>
  <wsdl:message name="IPingServiceSign_echoDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:echoDataSetResponse"/>
  </wsdl:message>
  <wsdl:portType name="IPingServiceSign">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://xmlsoap.org/Ping" name="PingRequest" message="tns:PingRequest"/>
      <wsdl:output wsaw:Action="http://xmlsoap.org/Ping" name="PingResponse" message="tns:PingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input wsaw:Action="http://InteropBaseAddress/interop/echo" message="tns:IPingServiceSign_echo_InputMessage"/>
      <wsdl:output wsaw:Action="http://InteropBaseAddress/interop/echo" message="tns:IPingServiceSign_echo_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="echoXml">
      <wsdl:input wsaw:Action="http://InteropBaseAddress/interop/echoXml" message="tns:IPingServiceSign_echoXml_InputMessage"/>
      <wsdl:output wsaw:Action="http://InteropBaseAddress/interop/echoXml" message="tns:IPingServiceSign_echoXml_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="echoDataSet">
      <wsdl:input wsaw:Action="http://InteropBaseAddress/interop/echoDataSet" message="tns:IPingServiceSign_echoDataSet_InputMessage"/>
      <wsdl:output wsaw:Action="http://InteropBaseAddress/interop/echoDataSet" message="tns:IPingServiceSign_echoDataSet_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PingService10Sign">
    <wsdl:port name="MutualCertificate10Sign_IPingServiceSign" binding="i0:MutualCertificate10Sign_IPingServiceSign">
      <soap:address location="http://h4sfh81.b20.microsoftlab.net/Security_WsSecurity_Service_Indigo/WsSecurity10Sign.svc/MutualCertificate10Sign"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
