modules/testsuite/native-tests/src/test/resources/jaxws/jbws1172/WEB-INF/wsdl/type1.xsd

<schema targetNamespace="http://www.my-company.it/ws/my-test2"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.my-company.it/ws/my-test2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<complexType name="performTest">
		<sequence>
			<element name="Code" nillable="true" type="tns:CodeType" />
		</sequence>
	</complexType>
	<complexType name="performTestResponse">
		<sequence />
	</complexType>
	<simpleType name="CodeType">
		<restriction base="integer">
			<minInclusive value="0" />
			<maxInclusive value="1000" />
		</restriction>
	</simpleType>
</schema>