modules/testsuite/native-tests/src/test/resources/jaxrpc/jbws2885/WEB-INF/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='TestService' targetNamespace='http://org.jboss.test.ws/jbws2885' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.ws/jbws2885/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.ws/jbws2885' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.ws/jbws2885/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.ws/jbws2885/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='Message'>
    <sequence>
     <element name='text' nillable='true' type='string'/>
    </sequence>
   </complexType>
  </schema>
 </types>
 <message name='TestEndpoint_echo' xmlns='http://schemas.xmlsoap.org/wsdl/'>
  <part name='Message_1' type='ns1:Message'/>
 </message>
 <message name='TestEndpoint_echoResponse'>
  <part name='result' type='ns1:Message'/>
 </message>
 <portType name='TestEndpoint'>
  <operation name='echo' parameterOrder='Message_1'>
   <input message='tns:TestEndpoint_echo'/>
   <output message='tns:TestEndpoint_echoResponse'/>
  </operation>
 </portType>
 <binding name='TestEndpointBinding' type='tns:TestEndpoint'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.ws/jbws2885' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.ws/jbws2885' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='TestService'>
  <port binding='tns:TestEndpointBinding' name='TestEndpointPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>