src/test/resources/jaxws/metadata/WEB-INF/wsdl/wsdl1.wsdl

<definitions name="TestService"
             targetNamespace="http://example.org/sei"
             xmlns:tns="http://example.org/sei"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <types>
      <xsd:schema targetNamespace="http://example.org/sei">
         <xsd:element name="Echo">
            <xsd:complexType>
               <xsd:element name="message" type="xsd:string"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="EchoResponse">
            <xsd:complexType>
               <xsd:element name="message" type="xsd:string"/>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </types>

   <message name="EchoMessage">
      <part name="parameters" element="tns:Echo"/>
   </message>
   <message name="EchoResponseMessage">
      <part name="result" element="tns:EchoResponse"/>
   </message>

   <portType name="EndpointInterface">
      <operation name="echo" parameterOrder="parameters">
         <input message="tns:EchoMessage"/>
         <output message="tns:EchoResponseMessage"/>
      </operation>
   </portType>

   <binding name="EndpointInterfaceBinding" type="tns:EndpointInterface">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="echo">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>
</definitions>