src/test/resources/jaxws/samples/context/WEB-INF/wsdl/TestEndpoint.wsdl

<definitions name='TestEndpointService' targetNamespace='http://org.jboss.ws/jaxws/context' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws/jaxws/context' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types></types>
 <message name='TestEndpoint_testIsUserInRole'>
  <part name='arg0' type='xsd:string'/>
 </message>
 <message name='TestEndpoint_testGetMessageContext'></message>
 <message name='TestEndpoint_testGetUserPrincipal'></message>
 <message name='TestEndpoint_testGetUserPrincipalResponse'>
  <part name='return' type='xsd:string'/>
 </message>
 <message name='TestEndpoint_testGetMessageContextResponse'>
  <part name='return' type='xsd:string'/>
 </message>
 <message name='TestEndpoint_testIsUserInRoleResponse'>
  <part name='return' type='xsd:boolean'/>
 </message>
 <portType name='TestEndpoint'>
  <operation name='testGetMessageContext'>
   <input message='tns:TestEndpoint_testGetMessageContext'/>
   <output message='tns:TestEndpoint_testGetMessageContextResponse'/>
  </operation>
  <operation name='testGetUserPrincipal'>
   <input message='tns:TestEndpoint_testGetUserPrincipal'/>
   <output message='tns:TestEndpoint_testGetUserPrincipalResponse'/>
  </operation>
  <operation name='testIsUserInRole' parameterOrder='arg0'>
   <input message='tns:TestEndpoint_testIsUserInRole'/>
   <output message='tns:TestEndpoint_testIsUserInRoleResponse'/>
  </operation>
 </portType>
 <binding name='TestEndpointBinding' type='tns:TestEndpoint'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='testGetMessageContext'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/jaxws/context' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/jaxws/context' use='literal'/>
   </output>
  </operation>
  <operation name='testGetUserPrincipal'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/jaxws/context' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/jaxws/context' use='literal'/>
   </output>
  </operation>
  <operation name='testIsUserInRole'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/jaxws/context' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/jaxws/context' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='TestEndpointService'>
  <port binding='tns:TestEndpointBinding' name='TestEndpointPort'>
   <soap:address location='http://@jbosstest.host.name@:8080/jaxws-samples-context'/>
  </port>
 </service>
</definitions>