src/test/resources/jaxws/wsaddressing/action/META-INF/wsdl/ActionRpcService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="ActionRpcService" targetNamespace="http://org.jboss.ws/addressing/action" xmlns:tns="http://org.jboss.ws/addressing/action"
  xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types/>
  <message name="ActionEndpoint_bar">
    <part name="String_1" type="xsd:string"/>
  </message>
  <message name="ActionEndpoint_barResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="ActionEndpoint_foo">
    <part name="String_1" type="xsd:string"/>
  </message>
  <message name="ActionEndpoint_fooResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <portType name="ActionEndpoint">
    <operation name="bar" parameterOrder="String_1">
      <input message="tns:ActionEndpoint_bar"/>
      <output message="tns:ActionEndpoint_barResponse"/>
    </operation>
    <operation name="foo" parameterOrder="String_1">
      <input message="tns:ActionEndpoint_foo"/>
      <output message="tns:ActionEndpoint_fooResponse"/>
    </operation>
  </portType>
  <binding name="ActionEndpointBinding" type="tns:ActionEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="bar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/addressing/action"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/addressing/action"/>
      </output>
    </operation>
    <operation name="foo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.ws/addressing/action"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/addressing/action"/>
      </output>
    </operation>
  </binding>
  <service name="ActionRpcService">
    <port name="ActionEndpointPort" binding="tns:ActionEndpointBinding">
      <soap:address location="http://@jboss.bind.address@:8080/jaxws-wsaddressing-action-rpc/ActionRpcService"/>
    </port>
  </service>
</definitions>