jbossws-native-3.1.2/modules/testsuite/native-tests/src/test/resources/jaxws/jbws2901/WEB-INF/wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='EndpointService' targetNamespace='http://jbws2901.jaxws.ws.test.jboss.org/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://jbws2901.jaxws.ws.test.jboss.org/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://jbws2901.jaxws.ws.test.jboss.org/' version='1.0' xmlns:tns='http://jbws2901.jaxws.ws.test.jboss.org/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='echoString' type='tns:echoString'/>
   <xs:element name='echoStringResponse' type='tns:echoStringResponse'/>
   <xs:complexType name='echoString'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='echoStringResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='Endpoint_echoString'>
  <part element='tns:echoString' name='echoString'/>
 </message>
 <message name='Endpoint_echoStringResponse'>
  <part element='tns:echoStringResponse' name='echoStringResponse'/>
 </message>
 <portType name='Endpoint'>
  <operation name='echoString' parameterOrder='echoString'>
   <input message='tns:Endpoint_echoString'/>
   <output message='tns:Endpoint_echoStringResponse'/>
  </operation>
 </portType>
 <binding name='EndpointBinding' type='tns:Endpoint'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echoString'>
   <soap:operation soapAction='urn:EchoString'/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='EndpointService'>
  <port binding='tns:EndpointBinding' name='EndpointPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>