src/test/resources/tools/jbws1553/interface/frontend.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:samples:frontend"
  xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:samples:frontend"
  xmlns:typ="urn:samples:frontend" xmlns:tic="urn:samples:ticket"
  xmlns:acc="urn:samples:account" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/
      http://schemas.xmlsoap.org/wsdl/">

  <import namespace="urn:samples:ticket" location="ticket.wsdl" />
  <import namespace="urn:samples:account" location="account.wsdl" />

  <types>

    <schema targetNamespace="urn:samples:frontend"
      xmlns="http://www.w3.org/2001/XMLSchema">

      <complexType name="UnauthorizedAccess">
        <sequence>
          <element name="customerName" type="xsd:string" />
        </sequence>
      </complexType>

      <element name="unauthorizedAccess" type="typ:UnauthorizedAccess" />

      <complexType name="InsufficientFunds">
        <sequence>
          <element name="customerName" type="xsd:string" />
          <element name="amount" type="xsd:double" />
        </sequence>
      </complexType>

      <element name="insufficientFunds" type="typ:InsufficientFunds" />

    </schema>

  </types>

  <message name="connectRequest" />

  <message name="logOnRequest">
    <part name="ticketNo" type="xsd:int" />
    <part name="customerName" type="xsd:string" />
  </message>

  <message name="logOnResponse" />

  <message name="statusResponse">
    <part name="status" type="xsd:string" />
  </message>

  <message name="balanceChange">
    <part name="customerName" type="xsd:string" />
    <part name="amount" type="xsd:double" />
  </message>

  <message name="unauthorizedAccess">
    <part name="detail" element="typ:unauthorizedAccess" />
  </message>

  <message name="insufficientFunds">
    <part name="detail" element="typ:insufficientFunds" />
  </message>

  <message name="mymessage">
    <part name="body" type="xsd:string" />
  </message>

  <!-- bank functions available to ATMs -->
  <portType name="FrontEnd">

    <!-- initiate bank connection -->
    <operation name="connect">
      <input message="tns:connectRequest" />
      <output message="tic:ticketMessage" />
    </operation>

    <!-- terminate bank connection -->
    <operation name="disconnect">
      <input message="tic:ticketMessage" />
    </operation>

    <!-- retrieve bank connection status -->
    <operation name="status">
      <input message="tic:ticketMessage" />
      <output message="tns:statusResponse" />
    </operation>

    <!-- initiate customer session -->
    <operation name="logOn">
      <input message="tns:logOnRequest" />
      <output message="tns:logOnResponse" />
      <fault name="unauthorizedAccess" message="tns:unauthorizedAccess" />
    </operation>

    <!-- terminate customer session -->
    <operation name="logOff">
      <input message="acc:customerMessage" />
    </operation>

    <!-- retrieve account balance -->
    <operation name="getBalance">
      <input message="acc:customerMessage" />
      <output message="acc:balanceMessage" />
    </operation>

    <!-- increase account balance -->
    <operation name="deposit">
      <input message="tns:balanceChange" />
      <output message="acc:balanceMessage" />
    </operation>

    <!-- decrease account balance -->
    <operation name="withdraw">
      <input message="tns:balanceChange" />
      <output message="acc:balanceMessage" />
      <fault name="insufficientFunds" message="tns:insufficientFunds" />
    </operation>

  </portType>

</definitions>