modules/testsuite/native-tests/src/test/resources/jaxws/jbws2784/META-INF/wsdl/Shipping.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://org.jboss.esb/quickstarts/bpel/ABI_Shipping"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	name="ShippingPortTypeService"
	targetNamespace="http://org.jboss.esb/quickstarts/bpel/ABI_Shipping">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			elementFormDefault="qualified"
			targetNamespace="http://org.jboss.esb/quickstarts/bpel/ABI_Shipping"
			xmlns:tns="http://org.jboss.esb/quickstarts/bpel/ABI_Shipping">
			<complexType name="ShippingRequest">
				<sequence>
					<element name="customerNumber" nillable="true"
						type="string" />
					<element name="orderNumber" nillable="true"
						type="string" />
					<element name="poNumber" nillable="true"
						type="string" />
				</sequence>
			</complexType>
			<complexType name="ShippingResponse">
				<sequence>
					<element name="orderShipped" type="boolean" />
				</sequence>
			</complexType>
			<element name="shippingRequest" type="tns:ShippingRequest" />
			<element name="shippingRequestResponse"
				type="tns:ShippingResponse" />
		</schema>
	</types>
	<message name="ShippingPortType_shippingRequest">
		<part element="tns:shippingRequest" name="parameters" />
	</message>
	<message name="ShippingPortType_shippingRequestResponse">
		<part element="tns:shippingRequestResponse" name="result" />
	</message>
	<portType name="ShippingPortType">
		<operation name="shippingRequest">
			<input message="tns:ShippingPortType_shippingRequest" />
			<output
				message="tns:ShippingPortType_shippingRequestResponse" />
		</operation>
	</portType>
	<binding name="ShippingPortTypeBinding"
		type="tns:ShippingPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="shippingRequest">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ShippingPortTypeService">
		<port binding="tns:ShippingPortTypeBinding"
			name="ShippingPortTypePort">
			<soap:address location="http://localhost:8866" />
		</port>
	</service>
	
	<plnk:partnerLinkType name="ShippingPLT">
		<plnk:role name="Shipper" portType="tns:ShippingPortType" />
	</plnk:partnerLinkType>
	
</definitions>
