src/test/resources/jaxws/jsr181/complex/META-INF/wsdl/RegistrationService.wsdl

<!--
This wsdl is only used for client artifact generation

wsimport -keep -verbose -d ../../../java ./META-INF/wsdl/RegistrationService.wsdl

$Id$
-->
<definitions name="RegistrationServiceService" targetNamespace="http://org.jboss.ws/jaxws/complex" xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:ns1="http://complex.jsr181.jaxws.ws.test.jboss.org/"
  xmlns:ns2="http://extra.complex.jsr181.jaxws.ws.test.jboss.org/" xmlns:tns="http://org.jboss.ws/jaxws/complex" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb">
  
  <jaxws:bindings>
    <jaxws:package name="org.jboss.test.ws.jaxws.jsr181.complex"/>
  </jaxws:bindings>
  
  <types>
    <schema elementFormDefault="qualified" targetNamespace="http://org.jboss.ws/jaxws/complex" xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:ns2="http://complex.jsr181.jaxws.ws.test.jboss.org/" xmlns:ns3="http://extra.complex.jsr181.jaxws.ws.test.jboss.org/"
      xmlns:tns="http://org.jboss.ws/jaxws/complex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" jaxb:version="2.0">
      
      <xsd:annotation>
        <xsd:appinfo>
          <jaxb:schemaBindings>
            <jaxb:package name="org.jboss.test.ws.jaxws.jsr181.complex"/>
          </jaxb:schemaBindings>
        </xsd:appinfo>
      </xsd:annotation>
      
      <import namespace="http://extra.complex.jsr181.jaxws.ws.test.jboss.org/"/>
      <import namespace="http://complex.jsr181.jaxws.ws.test.jboss.org/"/>
      
      <complexType name="AlreadyRegisteredException">
        <complexContent>
          <extension base="ns2:RegistrationException">
            <sequence>
              <element name="existingId" type="long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      
      <complexType name="BulkRegister">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="Customers" nillable="true" type="ns2:Customer"/>
          <element name="When" nillable="true" type="dateTime"/>
        </sequence>
      </complexType>
      
      <complexType name="BulkRegisterResponse">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="RegisteredIDs" type="long"/>
          <element maxOccurs="unbounded" minOccurs="0" name="result" type="long"/>
        </sequence>
      </complexType>
      
      <complexType name="GetStatistics">
        <sequence>
          <element name="Customer" nillable="true" type="ns2:Customer"/>
        </sequence>
      </complexType>
      
      <complexType name="GetStatisticsResponse">
        <sequence>
          <element name="Statistics" nillable="true" type="ns3:Statistics"/>
          <element name="result" nillable="true" type="ns3:Statistics"/>
        </sequence>
      </complexType>
      
      <complexType name="Register">
        <sequence>
          <element name="Customer" nillable="true" type="ns2:Customer"/>
          <element name="When" nillable="true" type="dateTime"/>
        </sequence>
      </complexType>
      
      <complexType name="RegisterForInvoice">
        <sequence>
          <element name="InvoiceCustomer" nillable="true" type="ns2:InvoiceCustomer"/>
        </sequence>
      </complexType>
      
      <complexType name="RegisterForInvoiceResponse">
        <sequence>
          <element name="done" type="boolean"/>
          <element name="result" type="boolean"/>
        </sequence>
      </complexType>
      
      <complexType name="RegisterResponse">
        <sequence>
          <element name="RegisteredID" type="long"/>
          <element name="result" type="long"/>
        </sequence>
      </complexType>
      
      <complexType name="ValidationException">
        <complexContent>
          <extension base="ns2:RegistrationException">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="failiedCustomers" type="long"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      
      <element name="AlreadyRegisteredException" type="tns:AlreadyRegisteredException"/>
      <element name="BulkRegister" type="tns:BulkRegister"/>
      <element name="BulkRegisterResponse" type="tns:BulkRegisterResponse"/>
      <element name="GetStatistics" type="tns:GetStatistics"/>
      <element name="GetStatisticsResponse" type="tns:GetStatisticsResponse"/>
      <element name="Register" type="tns:Register"/>
      <element name="RegisterForInvoice" type="tns:RegisterForInvoice"/>
      <element name="RegisterForInvoiceResponse" type="tns:RegisterForInvoiceResponse"/>
      <element name="RegisterResponse" type="tns:RegisterResponse"/>
      <element name="ValidationException" type="tns:ValidationException"/>
    </schema>
    
    <schema elementFormDefault="qualified" targetNamespace="http://extra.complex.jsr181.jaxws.ws.test.jboss.org/" xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:ns1="http://org.jboss.ws/jaxws/complex" xmlns:ns2="http://complex.jsr181.jaxws.ws.test.jboss.org/"
      xmlns:tns="http://extra.complex.jsr181.jaxws.ws.test.jboss.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" jaxb:version="2.0">
      
      <xsd:annotation>
        <xsd:appinfo>
          <jaxb:schemaBindings>
            <jaxb:package name="org.jboss.test.ws.jaxws.jsr181.complex.extra"/>
          </jaxb:schemaBindings>
        </xsd:appinfo>
      </xsd:annotation>
      
      <import namespace="http://org.jboss.ws/jaxws/complex"/>
      <import namespace="http://complex.jsr181.jaxws.ws.test.jboss.org/"/>
      
      <complexType name="Statistics">
        <sequence>
          <element name="activationTime" nillable="true" type="dateTime"/>
          <element name="hits" type="long"/>
        </sequence>
      </complexType>
    </schema>
    
    <schema elementFormDefault="qualified" targetNamespace="http://complex.jsr181.jaxws.ws.test.jboss.org/" xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:ns1="http://org.jboss.ws/jaxws/complex" xmlns:ns3="http://extra.complex.jsr181.jaxws.ws.test.jboss.org/"
      xmlns:tns="http://complex.jsr181.jaxws.ws.test.jboss.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" jaxb:version="2.0">
      
      <xsd:annotation>
        <xsd:appinfo>
          <jaxb:schemaBindings>
            <jaxb:package name="org.jboss.test.ws.jaxws.jsr181.complex"/>
          </jaxb:schemaBindings>
        </xsd:appinfo>
      </xsd:annotation>
      
      <import namespace="http://org.jboss.ws/jaxws/complex"/>
      <import namespace="http://extra.complex.jsr181.jaxws.ws.test.jboss.org/"/>
      
      <complexType name="Address">
        <sequence>
          <element name="city" nillable="true" type="string"/>
          <element name="state" nillable="true" type="string"/>
          <element name="street" nillable="true" type="string"/>
          <element name="zip" nillable="true" type="string"/>
        </sequence>
      </complexType>
      
      <complexType name="Customer">
        <sequence>
          <element name="address" nillable="true" type="tns:Address"/>
          <element maxOccurs="unbounded" minOccurs="0" name="contactNumbers" nillable="true" type="tns:PhoneNumber"/>
          <element name="id" type="long"/>
          <element name="name" nillable="true" type="tns:Name"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referredCustomers" nillable="true" type="tns:Customer"/>
        </sequence>
      </complexType>
      
      <complexType name="InvoiceCustomer">
        <complexContent>
          <extension base="tns:Customer">
            <sequence>
              <element name="cycleDay" type="int"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      
      <complexType name="Name">
        <sequence>
          <element name="firstName" nillable="true" type="string"/>
          <element name="lastName" nillable="true" type="string"/>
          <element name="middleName" nillable="true" type="string"/>
        </sequence>
      </complexType>
      
      <complexType name="PhoneNumber">
        <sequence>
          <element name="areaCode" nillable="true" type="string"/>
          <element name="exchange" nillable="true" type="string"/>
          <element name="line" nillable="true" type="string"/>
        </sequence>
      </complexType>
      
      <complexType name="RegistrationException">
        <sequence>
          <element name="message" nillable="true" type="string"/>
        </sequence>
      </complexType>
      <element name="RegistrationException" type="tns:RegistrationException"/>
    </schema>
  </types>
  
  <message name="RegistrationService_BulkRegister">
    <part element="tns:BulkRegister" name="parameters"/>
  </message>
  <message name="RegistrationService_GetStatisticsResponse">
    <part element="tns:GetStatisticsResponse" name="result"/>
  </message>
  <message name="AlreadyRegisteredException">
    <part element="tns:AlreadyRegisteredException" name="AlreadyRegisteredException"/>
  </message>
  <message name="ValidationException">
    <part element="tns:ValidationException" name="ValidationException"/>
  </message>
  <message name="RegistrationService_RegisterForInvoice">
    <part element="tns:RegisterForInvoice" name="parameters"/>
  </message>
  <message name="RegistrationService_RegisterResponse">
    <part element="tns:RegisterResponse" name="result"/>
  </message>
  <message name="RegistrationService_RegisterForInvoiceResponse">
    <part element="tns:RegisterForInvoiceResponse" name="result"/>
  </message>
  <message name="RegistrationService_BulkRegisterResponse">
    <part element="tns:BulkRegisterResponse" name="result"/>
  </message>
  <message name="RegistrationService_GetStatistics">
    <part element="tns:GetStatistics" name="parameters"/>
  </message>
  <message name="RegistrationService_Register">
    <part element="tns:Register" name="parameters"/>
  </message>
  <portType name="RegistrationService">
    <operation name="BulkRegister">
      <input message="tns:RegistrationService_BulkRegister"/>
      <output message="tns:RegistrationService_BulkRegisterResponse"/>
      <fault message="tns:AlreadyRegisteredException" name="AlreadyRegisteredException"/>
      <fault message="tns:ValidationException" name="ValidationException"/>
    </operation>
    <operation name="GetStatistics">
      <input message="tns:RegistrationService_GetStatistics"/>
      <output message="tns:RegistrationService_GetStatisticsResponse"/>
    </operation>
    <operation name="Register">
      <input message="tns:RegistrationService_Register"/>
      <output message="tns:RegistrationService_RegisterResponse"/>
      <fault message="tns:AlreadyRegisteredException" name="AlreadyRegisteredException"/>
      <fault message="tns:ValidationException" name="ValidationException"/>
    </operation>
    <operation name="RegisterForInvoice">
      <input message="tns:RegistrationService_RegisterForInvoice"/>
      <output message="tns:RegistrationService_RegisterForInvoiceResponse"/>
      <fault message="tns:AlreadyRegisteredException" name="AlreadyRegisteredException"/>
      <fault message="tns:ValidationException" name="ValidationException"/>
    </operation>
  </portType>
  <binding name="RegistrationServiceBinding" type="tns:RegistrationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="BulkRegister">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AlreadyRegisteredException">
        <soap:fault name="AlreadyRegisteredException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="GetStatistics">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AlreadyRegisteredException">
        <soap:fault name="AlreadyRegisteredException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="RegisterForInvoice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AlreadyRegisteredException">
        <soap:fault name="AlreadyRegisteredException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RegistrationServiceService">
    <port binding="tns:RegistrationServiceBinding" name="RegistrationServicePort">
      <soap:address location="http://tdvaio:8080/jaxws-jsr181-complex/RegistrationService"/>
    </port>
  </service>
</definitions>