modules/testsuite/native-tests/src/test/resources/jaxws/samples/wssecurity/META-INF/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='HelloService' targetNamespace='http://org.jboss.ws/samples/wssecurity' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws/samples/wssecurity' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://org.jboss.ws/samples/wssecurity' version='1.0' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:complexType name='UserType'>
    <xs:sequence>
     <xs:element minOccurs='0' name='msg' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='HelloException'>
    <xs:sequence>
     <xs:element name='message' nillable='true' type='xs:string'/>
     <xs:element name='code' type='xs:int'/>
     <xs:element name='reason' nillable='true' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:element name='HelloException' type='tns:HelloException'/>
  </xs:schema>
 </types>
 <message name='Hello_echoUserType'>
  <part name='user' type='tns:UserType'/>
 </message>
 <message name='Hello_echoUserTypeResponse'>
  <part name='return' type='tns:UserType'/>
 </message>
 <message name='Hello_triggerException'>
  <part name='String_1' type='xsd:string'/>
  <part name='int_2' type='xsd:int'/>
 </message>
 <message name='Hello_triggerExceptionResponse'/>
 <message name='HelloException'>
  <part element='tns:HelloException' name='HelloException'/>
 </message>
 <portType name='Hello'>
  <operation name='echoUserType' parameterOrder='user'>
   <input message='tns:Hello_echoUserType'/>
   <output message='tns:Hello_echoUserTypeResponse'/>
  </operation>
  <operation name='triggerException' parameterOrder='String_1 int_2'>
   <input message='tns:Hello_triggerException'/>
   <output message='tns:Hello_triggerExceptionResponse'/>
   <fault message='tns:HelloException' name='HelloException'/>
  </operation>
 </portType>
 <binding name='HelloBinding' type='tns:Hello'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echoUserType'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/samples/wssecurity' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/samples/wssecurity' use='literal'/>
   </output>
  </operation>
  <operation name='triggerException'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.ws/wsse' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.ws/wsse' use='literal'/>
   </output>
   <fault name='HelloException'>
    <soap:fault name='HelloException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='HelloService'>
  <port binding='tns:HelloBinding' name='HelloPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>