src/test/resources/jaxws/wsrm/emulator/oneway/resources/OneWayService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OneWayService" targetNamespace="http://wsrm.jaxws.ws.test.jboss.org/" xmlns:tns="http://wsrm.jaxws.ws.test.jboss.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://wsrm.jaxws.ws.test.jboss.org/" version="1.0" xmlns:tns="http://wsrm.jaxws.ws.test.jboss.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="method1" type="tns:method1"/>
   <xs:element name="method2" type="tns:method2"/>
   <xs:element name="method3" type="tns:method3"/>
   <xs:complexType name="method1">
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="method2">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="method3">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  </types>
  <message name="OneWayServiceIface_method3">
    <part name="method3" element="tns:method3">
    </part>
  </message>
  <message name="OneWayServiceIface_method2">
    <part name="method2" element="tns:method2">
    </part>
  </message>
  <message name="OneWayServiceIface_method1">
    <part name="method1" element="tns:method1">
    </part>
  </message>
  <portType name="OneWayServiceIface">
    <operation name="method1">
      <input message="tns:OneWayServiceIface_method1">
    </input>
    </operation>
    <operation name="method2">
      <input message="tns:OneWayServiceIface_method2">
    </input>
    </operation>
    <operation name="method3">
      <input message="tns:OneWayServiceIface_method3">
    </input>
    </operation>
  </portType>
  <binding name="OneWayServiceIfaceBinding" type="tns:OneWayServiceIface">
    <wsp:PolicyReference URI="#exactly_one_in_order_rm_delivery"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="method1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="method2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="method3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="OneWayService">
    <port name="OneWayPort" binding="tns:OneWayServiceIfaceBinding">
      <soap:address location="http://127.0.0.1:8080/jaxws-wsrm-one-way-emulator/OneWayService"/>
    </port>
  </service>
    <wsp:Policy wsu:Id="exactly_one_in_order_rm_delivery" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsp:All>
   <wsrmp:DeliveryAssurance xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
    <wsp:Policy>
     <wsp:ExactlyOne>
      <wsp:All>
       <wsrmp:ExactlyOnce/>
       <wsrmp:InOrder/>
      </wsp:All>
     </wsp:ExactlyOne>
    </wsp:Policy>
   </wsrmp:DeliveryAssurance>
  </wsp:All>
 </wsp:Policy>
</definitions>