jbossws-native-3.1.2/modules/testsuite/native-tests/src/test/resources/jaxws/jbws2784/META-INF/wsdl/OrderManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OrderManagerPortTypeService"
	targetNamespace="http://org.jboss.esb/quickstarts/bpel/ABI_OrderManager"
	xmlns:tns="http://org.jboss.esb/quickstarts/bpel/ABI_OrderManager"
	xmlns:ns1="http://www.jboss.org/samples/bpel/CustomerOrder.xsd"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://org.jboss.esb/quickstarts/bpel/ABI_OrderManager"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:ns2="http://www.jboss.org/samples/bpel/CustomerOrder.xsd"
			xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns:tns="http://org.jboss.esb/quickstarts/bpel/ABI_OrderManager"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			
			<!--<import namespace="http://www.jboss.org/samples/bpel/CustomerOrder.xsd" 
					schemaLocation="../schema/CustomerOrder.xsd" />-->
					
			<!-- 
			<complexType name="CancelOrder">
				<sequence>
					<element name="orderInquiry" nillable="true"
						type="ns2:OrderInquiry" />
				</sequence>
			</complexType>
			<complexType name="CustomerOrder">
				<sequence>
					<element name="header" nillable="true"
						type="ns2:OrderHeader" />
					<element maxOccurs="unbounded" minOccurs="0"
						name="items" nillable="true" type="ns2:Item" />
				</sequence>
			</complexType>
			-->
			<complexType name="SalesOrderFault">
				<sequence>
					<element name="reason" nillable="true"
						type="string" />
				</sequence>
			</complexType>

			<complexType name="SalesOrderNotification">
				<sequence>
					<element ref="tns:orderNumber" />
				</sequence>
			</complexType>
			
			<element name="cancelOrder" type="ns1:CancelOrder" />
			<element name="cancelOrderResponse" type="boolean" />
			<element name="customerOrder" type="ns1:CustomerOrder" />
			<element name="SalesOrderFault" type="tns:SalesOrderFault" />
			<element name="customerOrderResponse" type="string" />
			<element name="salesOrderNotification"
				type="tns:SalesOrderNotification" />
			<element name="salesOrderNotificationAck" type="boolean" />
			<element name="orderNumber" type="string" />
		</schema>
		
		<!-- 
		<schema elementFormDefault="qualified"
			targetNamespace="http://www.jboss.org/samples/bpel/CustomerOrder.xsd"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns:tns="http://www.jboss.org/samples/bpel/CustomerOrder.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<import
				namespace="http://org.jboss.esb/quickstarts/bpel/ABI_OrderManager" />
			<complexType name="Address">
				<sequence>
					<element name="city" nillable="true" type="string" />
					<element name="state" nillable="true" type="string" />
					<element name="street1" nillable="true"
						type="string" />
					<element name="street2" nillable="true"
						type="string" />
					<element name="zip" nillable="true" type="string" />
				</sequence>
			</complexType>
			<complexType name="Contact">
				<sequence>
					<element name="email" nillable="true" type="string" />
					<element name="fax" nillable="true" type="string" />
					<element name="name" nillable="true" type="string" />
					<element name="phone" nillable="true" type="string" />
				</sequence>
			</complexType>
			<complexType name="Item">
				<sequence>
					<element name="description" nillable="true"
						type="string" />
					<element name="extensionAmount" nillable="true"
						type="decimal" />
					<element name="partNumber" nillable="true"
						type="string" />
					<element name="price" nillable="true"
						type="decimal" />
					<element name="quantity" type="int" />
				</sequence>
			</complexType>
			<complexType name="OrderHeader">
				<sequence>
					<element name="billTerms" nillable="true"
						type="string" />
					<element name="billTo" nillable="true"
						type="tns:Party" />
					<element name="customerNumber" nillable="true"
						type="string" />
					<element name="orderDate" nillable="true"
						type="dateTime" />
					<element name="orderTotal" nillable="true"
						type="decimal" />
					<element name="poNumber" nillable="true"
						type="string" />
					<element name="shipTerms" nillable="true"
						type="string" />
					<element name="shipTo" nillable="true"
						type="tns:Party" />
				</sequence>
			</complexType>
			<complexType name="OrderInquiry">
				<sequence>
					<element name="customerNumber" nillable="true"
						type="string" />
					<element name="poNumber" nillable="true"
						type="string" />
				</sequence>
			</complexType>
			<complexType name="Party">
				<sequence>
					<element name="address" nillable="true"
						type="tns:Address" />
					<element name="company" nillable="true"
						type="string" />
					<element name="contact" nillable="true"
						type="tns:Contact" />
				</sequence>
			</complexType>
		</schema>
	-->
	</types>
	
	<message name="OrderManagerPortType_customerOrder">
		<part name="parameters" element="tns:customerOrder" />
	</message>
	<message name="SendSalesOrderNotificationResponse">
		<part name="Document" element="tns:salesOrderNotificationAck" />
	</message>
	<message name="OrderManagerPortType_cancelOrderResponse">
		<part name="result" element="tns:cancelOrderResponse" />
	</message>
	<message name="SendSalesOrderNotificationRequest">
		<part name="Document" element="tns:salesOrderNotification" />
	</message>
	<message name="OrderManagerPortType_customerOrderResponse">
		<part name="result" element="tns:customerOrderResponse" />
	</message>
	<message name="SalesOrderFault">
		<part name="SalesOrderFault" element="tns:SalesOrderFault" />
	</message>
	<message name="OrderManagerPortType_cancelOrder">
		<part name="parameters" element="tns:cancelOrder" />
	</message>
	<portType name="OrderManagerPortType">
		<operation name="cancelOrder">
			<input message="tns:OrderManagerPortType_cancelOrder" />
			<output
				message="tns:OrderManagerPortType_cancelOrderResponse" />
		</operation>
		<operation name="customerOrder">
			<input message="tns:OrderManagerPortType_customerOrder" />
			<output
				message="tns:OrderManagerPortType_customerOrderResponse" />
			<fault name="SalesOrder" message="tns:SalesOrderFault" />
		</operation>
	</portType>
	<portType name="RetailerCallbackPortType">
		<operation name="SendSalesOrderNotification">
			<input message="tns:SendSalesOrderNotificationRequest" />
			<output message="tns:SendSalesOrderNotificationResponse" />
		</operation>
	</portType>
	<binding name="OrderManagerPortTypeBinding"
		type="tns:OrderManagerPortType">
		<soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="cancelOrder">
			<soap:operation
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="" />
			<input>
				<soap:body
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
			</input>
			<output>
				<soap:body
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
			</output>
		</operation>
		<operation name="customerOrder">
			<soap:operation
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="" />
			<input>
				<soap:body
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
			</input>
			<output>
				<soap:body
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
			</output>
			<fault name="SalesOrder">
				<soap:fault
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
					name="SalesOrder" use="literal" />
			</fault>
		</operation>
	</binding>
	<binding name="RetailerCallbackSoap"
		type="tns:RetailerCallbackPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<operation name="SendSalesOrderNotification">
			<soap:operation
				soapAction="http://www.jboss.org/samples/bpel/OrderManager.wsdl/SendSalesOrderNotification"
				style="document" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input>
				<soap:body use="literal"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output>
				<soap:body use="literal"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
	</binding>
	<service name="RetailerCallbackService">
		<port name="RetailerCallbackSoap"
			binding="tns:RetailerCallbackSoap">
			<soap:address
				location="http://localhost:8080/bpel/processes/RetailerCallback"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</port>
	</service>
	<service name="OrderManagerPortTypeService">
		<port name="OrderManagerPortTypePort"
			binding="tns:OrderManagerPortTypeBinding">
			<soap:address
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				location="http://localhost:8865" />
		</port>
	</service>
	<plnk:partnerLinkType
		xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
		name="OrderingPLT">
		<plnk:role name="OrderingSystem"
			portType="tns:OrderManagerPortType" />
		<plnk:role name="OrderPlacer"
			portType="tns:RetailerCallbackPortType" />
	</plnk:partnerLinkType>
	

</definitions>
